.hidden {
  display: none;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loader__box {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.loader__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  min-height: 250px;
}

.loader__img img,
.onboarding img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.onboarding, .focus {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.onboarding .btn,
.onboarding .hand {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  bottom: 50px;
}

.onboarding .hand {
  bottom: auto;
  top: 50%;
  transform: translateY(-75%);
}

.onboarding .hand-image {
  width: 200px;
}

button,
button:focus {
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  background-color: #0D673A;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
}

.focus-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 65px;
  height: 275px;
}

.focus-image img {
  display: block;
}